# Основные настройки приложения
SERVICE_NAME=em-collector
DOCKER_COMPOSE_ENABLED=true

# Настройки сервера
SERVER_PORT=8080

# Настройки актуатора
ACTUATOR_PORT=8081
ACTUATOR_ENDPOINTS=health,info,metrics,prometheus
HEALTH_DETAILS_VISIBLE=always

# Настройки Eureka клиента
EUREKA_REGISTER_ENABLED=true
EUREKA_FETCH_ENABLED=true
EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE=http://em-discovery:8761/eureka/
EUREKA_PREFER_IP=false
EUREKA_INSTANCE_HOSTNAME=em-collector
EUREKA_HEARTBEAT_INTERVAL=30
EUREKA_LEASE_EXPIRATION=90
EUREKA_HEALTH_CHECK_PATH=/actuator/health
EUREKA_STATUS_PAGE_PATH=/actuator/info

# Дополнительные настройки URL путей
SERVER_SERVLET_PATH=/
EUREKA_HOSTNAME=em-collector