# Основные настройки приложения
SERVICE_NAME=em-gateway
DOCKER_COMPOSE_ENABLED=true

# Настройки сервера
SERVER_PORT=8080

# Настройки актуатора
ACTUATOR_PORT=8081
ACTUATOR_ENDPOINTS=health,info,metrics,prometheus
HEALTH_DETAILS_VISIBLE=always

# Настройки Eureka клиента
EUREKA_REGISTER_ENABLED=true
EUREKA_FETCH_ENABLED=true
EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE=http://em-discovery:8761/eureka/
EUREKA_PREFER_IP=false
EUREKA_INSTANCE_HOSTNAME=em-gateway
EUREKA_HEARTBEAT_INTERVAL=30
EUREKA_LEASE_EXPIRATION=90
EUREKA_HEALTH_CHECK_PATH=/actuator/health
EUREKA_STATUS_PAGE_PATH=/actuator/info

# Настройки Spring Cloud Gateway
DISCOVERY_LOCATOR_ENABLED=true
DISCOVERY_LOCATOR_LOWERCASE=true
GATEWAY_METRICS_ENABLED=true
GATEWAY_CONNECT_TIMEOUT=2000
GATEWAY_RESPONSE_TIMEOUT=5s

# Настройки маршрутов для сервисов
COLLECTOR_SERVICE_ID=collector-service
COLLECTOR_SERVICE_NAME=em-collector
COLLECTOR_PATH=/collector/**
COLLECTOR_STRIP_PREFIX=1
COLLECTOR_RESPONSE_HEADER=collector

PROCESSOR_SERVICE_ID=processor-service
PROCESSOR_SERVICE_NAME=em-processor
PROCESSOR_PATH=/processor/**
PROCESSOR_STRIP_PREFIX=1
PROCESSOR_RESPONSE_HEADER=processor

API_SERVICE_ID=api-service
API_SERVICE_NAME=em-api
API_PATH=/api/**
API_STRIP_PREFIX=1
API_RESPONSE_HEADER=api

ADAPTER_SERVICE_ID=adapter-service
ADAPTER_SERVICE_NAME=em-adapter
ADAPTER_PATH=/adapter/**
ADAPTER_STRIP_PREFIX=1
ADAPTER_RESPONSE_HEADER=adapter