# Основные настройки приложения
SERVICE_NAME=em-api
DOCKER_COMPOSE_ENABLED=true

# Настройки сервера
SERVER_PORT=8080

# Настройки актуатора
ACTUATOR_PORT=8081
ACTUATOR_ENDPOINTS=health,info,metrics,prometheus
HEALTH_DETAILS_VISIBLE=always

# Настройки Eureka клиента
EUREKA_REGISTER_ENABLED=true
EUREKA_FETCH_ENABLED=true
EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE=http://em-discovery:8761/eureka/
EUREKA_PREFER_IP=false
EUREKA_INSTANCE_HOSTNAME=em-api
EUREKA_HEARTBEAT_INTERVAL=30
EUREKA_LEASE_EXPIRATION=90
EUREKA_HEALTH_CHECK_PATH=/actuator/health
EUREKA_STATUS_PAGE_PATH=/actuator/info

# Настройки Elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_SCHEME=http
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=secret