# Настройки хранения данных
PROMETHEUS_RETENTION_TIME=30d                                                                   # Время хранения метрик (30 дней)

# Настройки безопасности
PROMETHEUS_WEB_ENABLE_ADMIN_API=false                                                           # Отключение административного API